<?xml version="1.0" encoding="utf-8" ?>
<Config>
  <Listener>
    <!-- Service will listen on that port -->
    <LocalPort>1009</LocalPort>
    <ClientTimeOut>50</ClientTimeOut>
    <MaxConnections>10</MaxConnections>
    <LogPath>c:\SMSMoneyFer_log\</LogPath>
    <CheckATMIPMatch>1</CheckATMIPMatch>
  </Listener>
  
  <Database>
    <DataSource>.</DataSource>
    <InitialCatalog>SMSMoneyFer</InitialCatalog>
    <IntegratedSecurity>false</IntegratedSecurity>
    <UserId>SMSUser</UserId>
    <password>FAGDCGHWXIBYHZVHWJFGUJHXCFHHCAFD</password>
  </Database>
<BusinessRules>
    <DepositTransactionExpirationDays>5</DepositTransactionExpirationDays>
    <DepositTransactionExpirationCheckPeriodMinutes>1</DepositTransactionExpirationCheckPeriodMinutes>
    <HostOffLineStartTime>18:00:00</HostOffLineStartTime>
    <HostOffLineEndTime>19:00:00</HostOffLineEndTime>
    

  </BusinessRules>

</Config>
