<?xml version="1.0" encoding="utf-8" ?>
 <Config>
	 <CashRemittanceEODConfig>
                <LogPath>c:\DBDLog\</LogPath>
				<Time>12:00</Time>
                <ConnectionString>Provider=SQLOLEDB.1;Password=SMSUser;Persist Security Info=True;User ID=SMSUser;Initial Catalog=SMSMoneyFer;Data Source=172.16.46.70</ConnectionString>
				<DepositHostFlag>1</DepositHostFlag>
     <NewEODPath>C:\</NewEODPath>
				<EODPath>C:\</EODPath>
				<WithDrawalHostFlag>1</WithDrawalHostFlag>
     <DepositCode>D</DepositCode>
     <WithdrawalCode>W</WithdrawalCode>
     <ConfirmationCode>C</ConfirmationCode>
     <AuthorizationCode>A</AuthorizationCode>
		 <DebitPIN1>526403</DebitPIN1>
		 <DebitPIN2>494606</DebitPIN2>
	</CashRemittanceEODConfig>
</Config>