<?xml version="1.0" encoding="utf-8" ?>
<Config>
  <NCRConfiguration>
    <BankCode>NCR</BankCode>
    <LicenseName>xxxx.lic</LicenseName>
    <DebugMode>1</DebugMode>
    <LogPath>C:\NCR_LOGS\</LogPath>
  </NCRConfiguration>
  <Email>
    <SendEmail>0</SendEmail>
    <SmtpServer>microsoft.outlook.com</SmtpServer>
    <SmtpUserName>mk</SmtpUserName>
    <SmtpUserPass>ps</SmtpUserPass>
    <smtpPort>4040</smtpPort>
    <FromMail>mail@from.com</FromMail>
    <EnableSSL>1</EnableSSL>
    <UseDefaultCredentials>1</UseDefaultCredentials>
    <BankCode></BankCode>
    <SendEmailTo>mail@delivery.com|mail2@delivery2.com</SendEmailTo>
  </Email>
  <BusinessRules>
    <ATMIdLength>5</ATMIdLength>
    <BankIdLength>5</BankIdLength>
    <CountryCodeLength>10</CountryCodeLength>
    <LocalCountry>20</LocalCountry>
    <LocalBank>BMF</LocalBank>
    <DepositTransactionExpirationCheckPeriodMinutes>10</DepositTransactionExpirationCheckPeriodMinutes>
    <HostOffLineStartTime>18:00:00</HostOffLineStartTime>
    <HostOffLineEndTime>19:00:00</HostOffLineEndTime>
    <CheckForUncertainWithdrawalFlag>1</CheckForUncertainWithdrawalFlag>
    <UnCertainActionReason>UnCertain</UnCertainActionReason>
    <DepositorMustRegister>1</DepositorMustRegister>
    <BeneficiaryMustRegister>1</BeneficiaryMustRegister>
    <!-- Check Beneficiary Registration during deposit phase 1 -->
    <!-- Check Beneficiary Registration during withdrawal phase 2 -->
    <WhenCheckBeneficiaryRegisteration>1</WhenCheckBeneficiaryRegisteration>
    <UseBeneficiaryAsId>1</UseBeneficiaryAsId>
    <UseAmountAsDPIN>0</UseAmountAsDPIN>
    <ApplyLimitsOnBeneficiary>0</ApplyLimitsOnBeneficiary>
    <checkAmount>0</checkAmount>
    <LowestDenom>5</LowestDenom>
  </BusinessRules>
  <Listener>
    <!-- Service will listen on that port -->
    <LocalPort>1009</LocalPort>
    <ClientTimeOut>50</ClientTimeOut>
    <MaxConnections>10</MaxConnections>
    <LogPath>c:\NCRMoneyFer_log\</LogPath>
    <CheckATMIPMatch>0</CheckATMIPMatch>
  </Listener>
  <Database>
    <DataSource>.</DataSource>
    <InitialCatalog>BMRem</InitialCatalog>
    <IntegratedSecurity>true</IntegratedSecurity>
    <UserId>sa</UserId>
    <password>XIVDHEIAIBXYHUGFCGJVIBGFUDVDCZDUUBFDDGXEHUDVCBECEDBYXFHEIEVVCEXJ</password>
  </Database>
  <ServiceConfiguration>
    <BulkFilePath>C:\Stacks</BulkFilePath>
    <BulkFileName>test-min.csv</BulkFileName>
    <OutputFilePath>C:\Stacks\</OutputFilePath>
    <OutputFileName>PROCESSED</OutputFileName>
    <CheckFileInterval>1</CheckFileInterval>    <!-- minutes -->
    <DataFileSeparator>;</DataFileSeparator>
    <MinimumDataNumber>4</MinimumDataNumber>
    <PINLength>4</PINLength>
    <BulkFileHaveHeader>1</BulkFileHaveHeader>
  </ServiceConfiguration>
</Config>
